.Login-button {
  color: #ffffff;
  background-color: #FF6C22; /* Change the background color */
  font-size: 24px;
  font-weight: bold;
  border: 3px solid #ffffff; /* Set the border width and color */
  border-radius: 8px; /* Add rounded edges */
  padding: 10px; /* Add padding for better appearance */
   /* color: #ffffff; Set text color */
  cursor: pointer; /* Change cursor style on hover */
  margin: 0px;
  width: 80%;
}


@media (max-width: 700px) {
  .Login-button {
    font-size: 20px;
    width: 150px;
    padding: 8px;
    margin: 0px;
  }
}

@media (min-width: 701px) {
  .Login-button {
    font-size: 24px;
    width: 200px;
    padding: 10px;
    margin: 0px;
  }
}