.outer-form-container {
  margin-top: 20vh;
  margin-left: 20vh;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 105, 68);
  color: rgb(171, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  width: 70%;
  height: 80%;
  /* padding: 2vh; */
}

.search-form input {
  border: 0px;
  border-bottom: 1.7px solid white;
  background-color: transparent; 
  font-size: 1rem;
  color:#ffffff;
  padding: 15px;
}



/* Style the placeholder text */
.search-form label, input::placeholder {
  color: #ffffff; /* Change the color of the placeholder text */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 0.8rem; /* Change the font size of the placeholder text */
}

.search-form input.date {
  cursor: pointer;
}

.search-form button {
  background-color: rgb(50, 50, 50);
  color: #ffffff;
  margin-top: 20px;
  padding: 10px 20px;
  padding-top: 12px;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
  width: 80%;
  cursor: pointer;
}

.upper-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.upper-form input {
  margin-top: 0px;
}

.upper-form div .title {
  width: 100%;
}

.title h4 {
  font-size: 1.7rem;
  color: #ffffff; /* Change the color of the placeholder text */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.upper-form div {
  margin-bottom: 30px;
  margin-top: 0px;
}

.upper-form input {
  width: 84%;
}

.left-column {
  /* flex-basis: calc(35% - 20px); 50% width with some spacing */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}

/* Style the right column */
.right-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* flex-basis: calc(35% - 20px); 50% width with some spacing */
}


.lower-form {
  width: 100%;
  margin-bottom: 4vh;
  justify-content: center;
}

.lower-form .heading {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
}

.input-container {
  width: 100%;
}

.input-container .departure-heading, .return-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.lower-form div {
  margin-top: 20px;
  margin-bottom: 30px;
}

.lower-form input {
  width: 80%;
}