/* TravelForm.css */

.outer-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-form {
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 100%;
  border: 1px solid #ff7b7b;
  position: relative;
}

.upper-form .title {
  text-align: center;
  margin-bottom: 20x;
}

.search-form .input {
  margin: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-form .date {
  /* Add date input styling */
  color: #828282;;
}

.loading-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form .upper-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-form .lower-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.search-form .columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form input {
  margin: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.lower-form input {
  width: 100%;
}

/* Add additional styles as needed */

/* Style for form fields */
.formik {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for error messages */
.formik-error {
  color: red;
  font-size: 0.6rem;
  margin-top: 0px;
  top: -100;
  left:0;
}

/* Add additional styles as needed */